<!DOCTYPE html>
<html>
  <head>
    <title>StudyProj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .block-text{
          width: 100px;
          heigth: 100px;
          border: 1px solid red;
          font-size:  100px;
      }
      .block{
          width: 100px;
          heigth: 100px;
          border: 1px solid black;
          font-size:  100px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <script>
      let clicker = document.querySelector('.block');
      let text = document.querySelector('.block-text');
        clicker.onclick = myFunction;
        function myFunction(){
            text.innerHTML = <%= @button.clicks %> ;
        }
    </script>
  </body>
</html>
